
.our-story {
    padding: 3rem 5rem 4rem 5rem;
    color: white;
    z-index: -5;
}
.line-we {
    border-top: 1px solid lightgrey;
}
.handwritten {
    font-size: 5rem;
}
#story-handwritten {
    height: fit-content;
    position: absolute;
    top: 13rem;
    right: 6rem;
}
#img-fish {
    background: url(../images/foto_atun.jpg);
    height: 20rem;
    right: 4.5rem;
    bottom: 1rem;
    position: relative;
}

.line-grey, .line-blue {
    border-left: 1px solid #144071;;
    height: 8rem;
    width: 1px;
}
.line-grey {
    margin: 4rem auto ;
}
.flying-start {
    margin-top: 2rem;
}
#img-fishing {
    background: url(../images/fishing_altea.jpg);
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 40rem;
}
#img-fish {
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.forever {
    margin: 0 auto !important;
    width: fit-content;
}
#first-letter {
    position: relative;
    top: 5rem;
    right: 3rem;
}
.handwritten-text {
    font-family: Angelique; 
    color:#144071;
    font-size: 5rem;
}
.text-forever {
    margin-left: 4rem;
}
.wave-pattern {
    background: url(../images/rectangle_pattern.jpg);
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 30rem;
    height: 30rem;
    opacity: .3;
    z-index: -3;
    position: absolute;
    top: 27rem; 
    left: 29rem;
}
.right {
    text-align: right;
}
#quote-tour {
    padding: 5rem;
    margin: 0 auto;
}
#quote-tour p {
    color: white;
    font-family: Birch;
    font-size: 2rem;
    text-align: center;
}
.footer {
    margin-top: 3rem !important;
}

@media screen and (max-width: 1100px) {
    #img-fish {
        bottom:-15rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .d-fishing {
        flex-direction: column;
        justify-content: space-around;
    }
    #img-fishing {
        margin-left: 2rem !important;
    } 
    .text-forever {
        margin-left: 5rem !important;
    }
    #story {
        display: none;
    }
    #img-fish {
        position: static;
        padding: 0 !important;
    }
   .text-forever {
       margin-left: 0;
       width: 20rem;
       padding-top: 0 !important;
   }
   #img-fishing {
       height: 25rem;
       margin-top: 3rem;
   }
   
     #img-fish {
        left: 0;
    }
    .wave-pattern {
        top: 20rem;
        left: 0;
        z-index: -20;
        width: 100%;
        position: absolute;
    }
    .our-story {
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    .line-grey {
        margin: 3rem auto;
        height: 4rem;
    }
    .text-forever {
        position: relative;
        top: -3rem;
    }
    .handwritten {
        padding-bottom: 0;
        line-height: .7;
    }
    #quote-tour {
    }
}

@media only screen 
and (max-width: 576px) {
   .our-story h2 {
        font-size: 2.5rem;
    }
}