
.our-story {
    padding: 3rem 5rem 4rem 5rem;
    color: white;
}
.line-we {
    border-top: 1px solid lightgrey;
}
.handwritten {
    font-size: 5rem;
}
#story-handwritten {
    height: fit-content;
    position: absolute;
    top: 13rem;
    right: 6rem;
}
#img-fish {
    background: url(../images/foto_atun.jpg);
    height: 20rem;
    right: 4.5rem;
    bottom: 1rem;
    position: absolute;
}

.line-grey, .line-blue {
    border-left: 1px solid #144071;;
    height: 8rem;
    width: 1px;
}
.line-grey {
    margin: 4rem auto ;
}
.flying-start {
    margin-top: 2rem;
}
#img-fishing {
    background: url(../images/fishing_altea.jpg);
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
#img-fish {
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.forever {
    margin: 0 auto !important;
    width: fit-content;
}
#first-letter {
    position: relative;
    top: 5rem;
    right: 3rem;
}
.handwritten-text {
    font-family: Angelique; 
    color:#144071;
    font-size: 5rem;
}
.text-forever {
    margin-left: 4rem;
}
.wave-pattern {
    background: url(../images/rectangle_pattern.jpg);
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 30rem;
    height: 30rem;
    opacity: .3;
    z-index: -3;
    position: absolute;
    top: 27rem; 
    left: 29rem;
}
.right {
    text-align: right;
}
#quote-tour {
    padding: 5rem;
    margin: 0 auto;
}
#quote-tour p {
    color: white;
    font-family: Birch;
    font-size: 2rem;
    text-align: center;
}
.footer {
    margin-top: 3rem !important;
}