.img-costa {
    background: url("../images/costa.jpg");
}
.img-mixto {
    background: url("../images/mixta.jpg");
}
.img-big-currican {
    background: url("../images/barracuda.png");
}

.img-bigame {
    background: url("/images/");
}
.lighthouse {
    background: url("../images/lighthouse.png");
    height: 25rem;
    margin: 0 4rem 2rem 4rem;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

#foto-anchor {
    background: url("../images/anchor.png");
    height: 18rem;
    background-position: bottom;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    position: relative;
    left: 20%;
}
.img-services {
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    position: relative;
    margin-bottom: 0;
    margin-left: 0 !important;
}
button {
    padding: 0 .4rem !important;
    font-size: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: 300;
    line-height: 1;
    color: #144071 !important;
   background-color: rgb(249, 246, 246) !important;
   font-family: trade-gothic-next, sans-serif;
}
#menu-fishing {
    height: 100%;
}

button:hover, button:active, button:focus, button:visited {
    border: 1px solid #144071 !important;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
.menu-services {
    border-top: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
    margin-bottom: 2rem;
    z-index: 5;
    background-color: rgb(249, 246, 246);
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
#fishing {
    padding:0 !important;
}

.service-title,  .service-text {
    margin-left: 2rem;
}
.service-trip-list, .service-trip {
    margin-left: 4rem !important;
}

.footer {
    margin-top: 0;
}
.service-title h4{
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 2.5rem;
}
.img-fishes {
    background: url("../images/costa.jpg");
    width: 15%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.img-left {
    background: url("../images/img-left.png");
    background-position: left;
}
.img-right {
    background: url("../images/img-right.png");
}
.service-text ul {
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 2rem 0;
}
.service-text ul li {
    padding: .5rem;
}
strong {
    color: #144071;
    font-size: larger;
}
.price p {
    background-color: #cce0f7;
}
.price strong {
    background-color: white;
    margin-right: .4rem;
}
/*.content-section {
   border-right: rgba(20,64,113,0.5) 1px solid; 
}*/
.content-section h2 {
    color: #144071;
}
.service-trip-list  {
    margin: 2rem 0;
    color: rgb(70,70,70,.8)
}
.temporadas {
    margin-top: 3rem;
}
.your-idea {
    background-color: #cce0f7;
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
    font-size: larger;
    display: flex;
    justify-content: center;
}
.high {
    margin-top: 4rem;
}
body{
    overflow-x: hidden;
}
.hide-section {
    display: none;
}
.main-line {
    height: 2rem;
    width: 100%;
    border-top: 1px solid #144071;
}
.service-item {
  /*  border-right: 1px solid rgb(186, 185, 185);*/
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem;
}


.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both .2s;
	        animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both .2s;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 991px) {
    .menu-services {
        margin-bottom: 1rem;
        position: relative;
        top: 5rem;
        z-index: 5;
        background-color: rgb(244, 242, 242);
        padding: 0 !important;
        
    }
    #adventure{
        margin-top: 7rem;
    }
    .service-item {
        border-bottom: 1px solid lightgrey;
    }
    .main-line {
        display: none;
    }
    .img-services {
        margin-left: 0 !important;
        margin-bottom: 7rem;
    }
    .content-section {
        margin-top: 4rem;
    }
    .your-idea {
        margin-left: 0;
    }
    #foto-anchor {
        left: 0;
        height: 10rem;
    }
    .service-title h4 {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 768px) {
   
    .service-title,  .service-text {
        margin-left: 0;
    }
    .service-trip-list, .service-trip {
        margin-left: 0 !important;
    }
}