p {
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, h4, .quote {
    font-family: Birch; 
}
h2 {
    font-size: 3.5rem;
}
h4 {
    font-size: 2rem;
    color:#144071;
}

.img-bg {
    background-repeat: no-repeat;
    background-size: contain;
}

/*Navigation*/

.nav-head a{
    font-size: .8rem;
    color:#707070;
    font-weight: 200;
}
.nav-link {
    margin: .5rem 1rem;
}
.nav-head {
    width: fit-content;
    padding: 0; 
    margin: auto; 
}
.navbar-nav a:after {
    content: "";
    color:  #144071;
    transition: color 0.6s ease 0s;
}

.link-special {
    width: 3rem;
}
.navbar-nav a:hover {
    color:  #144071;
    transition: color 0.6s ease 0s;
    font-weight: 200;
}
.lines {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.img {
    width: 200px;
    height: 200px;
    margin: 1rem 2rem;
}

#logo {
    background-image: url("../images/logo_flying_fish_tours.jpg")
}
.social-link {
    width: 1rem;
    height: 1rem;
    margin: .7rem 1rem;
}

.social-menu {
    text-align: center;
}
.social-menu a {
    margin: 1.3rem;
}
#fb-header {
    background-image: url("../images/fb_icon_menu.png");
}
#insta-header {
    background-image: url("../images/insta_icon.png");
}
#wa-header {
    background-image: url("../images/wb.png") ;
}
.line-menu {
    height: 0px;
    width: 1px;
    border-right: rgba(20,64,113,0.5) 1px solid;  
    -webkit-animation: increase2 4s;
    -moz-animation:    increase2 4s; 
    -o-animation:      increase2 4s; 
    animation:         increase2 4s; 
    animation-fill-mode: forwards;   
}
@keyframes increase2 {
    100% {
        height: 6rem;
    }
}

.line-bottom {
    height: 0px;
    width: 1px;
    border-bottom: rgba(20,64,113,0.5) 1px solid; 
    -webkit-animation: increase 4s;
    -moz-animation:    increase 4s; 
    -o-animation:      increase 4s; 
    animation:         increase 4s; 
    animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 100%;
    }
}

/*Music*/

#seashell {
    margin: 1rem 0 0 3rem;
    width: 2rem;
    height: 2rem;
    background-image: url("../images/sound_sea_icon.jpg");
}

.seamusic {
    position: absolute;
    right: 0;
    top: 0;
}

.handwritten {
    font-family: Angelique; 
    color: #707070;
    font-weight: 100;
}
#music-text {
    writing-mode: vertical-rl;
    margin: 0;
    font-size: 4rem;
    transform: rotate(180deg);
}

.container-white {
    background-color: rgba()
}

.gris {
    color: #707070;
}
.blue {
    color: #144071;
}
.orange {
    color: #FD6620;
}
/*Blue section*/
#blue-section {
    padding-top: 3rem;
    margin-top: 2rem;
}
.blue-bg {
    background-image: url(../images/watercolor-texture-background.jpg);
    background-repeat: no-repeat;
}

img {
    object-fit: contain;
}

/*Quote*/

.line {
    width: 1px;
    background-color: rgba(255, 255, 255, .7);
    height: 5rem;
    margin: 8% auto 5% auto;
}
.quotes {
    color: white;
    font-size: 2.2rem;
    text-align: center;
    margin: 0 auto;
}
#heminguay {
    color: white;
    font-size: 5rem;
    padding-left: 5rem;
    text-align: right;
    position: relative;
    top: -2rem;
    left: 2rem;
    padding-bottom: 5rem;
}
.item {
    margin-left: 1rem !important;
}

/*Service Section*/

#watercolor-service {
    background-image: url(../images/altea-watercolor.jpg);
    border:white solid 1px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 4rem;
}
#watercolor-service h2 {
    margin-top: 4rem;
}
#service-description {
    margin-bottom: 15%;
}
.services {
    background-color: white;
    border: 1px #144071 solid;
    text-align: center;
    margin: 3rem;
    padding: 3rem;
}
.contact-form {
    background-image: url(../images/seagull_contact.jpg);
    padding: 5rem;
    background-size: cover;
    margin-top: 10%;
}

#container-white {
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    margin: 2rem auto;
    
}
#container-white h2 {
    padding-top: 2rem;
}

/*Contact FORM*/
.border-white {
    margin: 2rem auto;
    background-color: transparent;
    border: 1px solid white;
}
textarea::placeholder, input::placeholder {
    font-family: trade-gothic-next;
    font-size: 12px;
  }
form li {
    padding-top: 1rem;
}
#name, #mail, #msg {
    width: 20rem;
}
input, textarea {
    background-color: rgba(255,255,255,.4);
    border: 1px solid rgba(255,255,255,.4);;
}
input[type=submit] {
  position: relative;
  outline: 1px solid lightgrey;
  border: none;
  width: 4rem;
  height: 2.5rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  color: rgb(70,70,70,.8)
}

form {
    font-family: trade-gothic-next;
    font-size: 12px;
    outline: none;
    background: none;
}
/*Footer*/
.logo-footer {
    line-height: 0.8;
}
.footer {
    margin-top: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.beige {
    color: #F5EBE1;  
}
#soc-media {
 position: relative;
 right: 0 !important;
}
#logo-footer p:nth-child(1) {
font-family: Birch;
font-size: 1.5rem;
}

#logo-footer p:nth-child(2) {
    font-family: Angelique;
    font-size: 2rem; 
    position: relative;
    top: -2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.copyright-footer a {
    color:#F5EBE1;

}
.copyright-footer a:after {
    background: #F5EBE1;
}

.services a:after {
    background:#144071;
}
.services a {
    color: #144071;
}

.anim-line  {
    margin: 0 !important;
    padding: 0 0 0 .5rem !important;
    font-weight: 100;
   
}
.anim-line:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    width: 0;
}

.anim-line:hover:after { 
    width: 100%; 
    left: 0; 
}

.copyright-footer {
    font-family: trade-gothic-next, sans-serif;
    position: relative;
    bottom: -1rem;
    font-size: .8rem;
}


#fb-footer {
    background: url(../images/fb_beige.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center; 
}
    
#insta-footer {
    background: url(../images/insta_beige.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center; 
}
#wa-footer {
    background: url(../images/wa_beige.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center; 
}
.social-link {
    padding: 0 !important;
}
.mobile-logo {
    display: none;
}
@font-face {
    font-family: Angelique; 
    src: url("../fonts/angelique_ma_douce _colombe.ttf")
    format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Birch;
    src: url("../fonts/BirchStd.otf"); 
	font-weight: bold;
}
@media screen and (max-width: 768px) {
    .line-burg {
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin: 5px;
      }
.hamburger{
    padding-top: .5rem;
    padding-left: .5rem;
    right: 0;
    cursor: pointer;
    z-index: 120;
    position: absolute;
}
    .navbar-mobile {
        background: #144071;
        height: 3rem;
        width: 100%;
        position: absolute;
        top: 0;
        border-bottom: orange 1px solid;
    }
    .mobile-logo {
      display: inline-flex;
      position: absolute; 
      z-index: 120;
    }
    .mobile-logo img {
        width: 3rem;
        height: 3rem;
    }
    .mobile-logo h1 {
        color: #F5EBE1;
        font-size: 1.5rem !important;
        margin-top: 1rem;
    }
  
    .mobile-menu {
        background: #144071;
        z-index: 10;
        position: fixed;
        height: 100%;
        width: 100%;
        padding-top: 3rem;
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        clip-path: circle(3rem at 90% -20%);
        -webkit-clip-path: circle(3rem at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .mobile-menu.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
      }

    #logo, .seamusic {
        display: none;
    }
    .lang-menu {
        display: none;
    }
    .navbar-nav a {
        color: white !important;
    }
    #blue-section {
        margin-top: 4rem !important;
    }
}
@media only screen 
and (max-width: 576px) {
    #heminguay {
        font-size: 4rem;
    }
    .item {
        margin-left: 0 !important;
    }
    .quote {
        font-size: 1.8rem;
    }
    .cont {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        height: 15rem;
    }
    .border-white {
        margin: 0 !important;
        width: 100%;
    }
    #heminguay {
        top: -2rem;
        left: 0;
    }
    .quote {
        font-size: 1.5rem;
    }
    .social-link {
        width: 1.2rem;
        height: 1.2rem;
        margin: 2rem 2rem;
    }
    #logo-footer {
        position: relative;
        top: 2rem;
    }
    .copyright-footer {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}
@media only screen 
and (max-width: 450px) {
    #name, #mail, #msg {
        width: 10rem;
    }
    #name, #mail {
        height: 2rem;
    }

    .footer {
        margin-top: 5rem;
    }
    .social-link {
        width: 1.2rem;
        height: 1.2rem;
        margin: 2rem 2rem;
    }
    #logo-footer {
        position: relative;
        top: 2rem;
    }
    .copyright-footer {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    h2 {
        font-size: 3rem;
    }
    #watercolor-service, .contact-form {
        margin-top: 1.5rem !important;
        overflow-x: hidden;
    }
    #watercolor-service {
        margin-bottom: 0 !important;
    }
}